.App {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(224, 255, 217);
  margin: 0;
  font-family: "Nirmala UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: 55vh;
  display: flex;
  flex-direction: row;
}

header {
  font-family: "Broadway";
  height: 15vh;
  background-color: forestgreen;
}

footer {
  height: 30vh;
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
}

.listHeading {
  font-weight: bold;
}

.listItem {
  font-weight: normal;
}

.listItem:hover {
  background-color: rgb(211, 250, 134);
}
