.aggregatedOrderBook {
  background-color: rgb(122, 168, 122);
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  align-content: start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aggregatedOrderBook ul {
  padding: 0px;
}

.aggregatedOrderBook li {
  background-color: rgb(194, 228, 194);
  border-bottom: 1px solid rgb(122, 168, 122);
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  user-select: none;
}

.aggregatedOrderBook h3 {
  padding: 0px;
  margin: 0px;
  padding-bottom: 3px;
}
