.personalOrderBook {
  background-color: rgb(0, 0, 0);
  border: 3px double honeydew;
  display: grid;
  grid-auto-flow: column;
  padding: 2px;
  width: 97%;
  height: 49%;
  align-content: start;
}

.personalOrderBook ul {
  height: 100%;
  padding: 0px;
  max-height: 35vh;
}

.orderList {
  overflow-y: scroll;
  max-height: 50%;
}

.personalOrderBook li {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid honeydew;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  user-select: none;
}

.personalOrderBook h3 {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-decoration: underline 1px solid honeydew;
}
