.orderForm {
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  width: 30%;
  align-content: center;
  border: 3px double honeydew;
  margin: 1%;
}

.topRow {
  display: flex;
  flex-direction: row-reverse;
  color: rgb(255, 91, 91);
  margin: 0px;
}

.topRow button {
  margin: 0px;
}

.orderForm button {
  background-color: black;
  color: inherit;
  height: 1.4rem;
  border: 3px double rgba(240, 255, 240, 0.9);
  margin-left: 1vh;
}

.orderForm button:hover {
  border-color: honeydew;
  background: radial-gradient(rgb(0, 0, 0) 30%, rgb(68, 68, 68) 90%);
}

.orderForm input {
  font-family: inherit;
  font-size: 1rem;
}

.orderForm li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.orderForm .fieldName {
  width: 30%;
  text-align: right;
  padding-right: 5%;
  margin: 0px;
}

.orderForm input {
  width: 40%;
}

h3 {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
