.userForm {
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  width: 30%;
  align-content: center;
  border: 3px double honeydew;
  margin: 1%;
}

.buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.userForm li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5vh;
}

.loginForm {
  text-align: centre;
  margin: 0%;
  margin-top: 1vh;
  padding: 0%;
  padding-right: 1vw;
  border-bottom: 3px double honeydew;
}

.loginForm button {
  font-size: inherit;
  font-family: inherit;
  background-color: black;
  color: inherit;
  height: 1.7rem;
  border: 3px double rgba(240, 255, 240, 0.9);
  margin-left: 1vh;
}

.buttons button {
  font-size: inherit;
  font-family: inherit;
  background-color: black;
  color: inherit;
  height: 1.7rem;
  border: 3px double rgba(240, 255, 240, 0.9);
  margin-left: 1vh;
}

.buttons button:hover {
  border-color: honeydew;
  background: radial-gradient(rgb(0, 0, 0) 30%, rgb(68, 68, 68) 90%);
}

.userForm .fieldName {
  width: 30%;
  text-align: right;
  padding-right: 5%;
  margin: 0px;
}

.userForm input {
  width: 40%;
  font-family: inherit;
  font-size: inherit;
}

.userForm h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
